/* Comments */
.hemingway .list-comment1,
.hemingway .list-comment2,
.hemingway .list-comment3,
.hemingway .list-comment4,
.hemingway .list-comment5,
.hemingway .list-comment6,
.hemingway .list-comment7,
.hemingway .list-comment8 {
  margin-left: 21px;
  background-color: whitesmoke;
  /*border-left: 10px solid rgba(0,0,0,0.05);*/
}
.hemingway .list-comment1 {
  padding-left: 0px;
  border-top: 1px solid rgba(0,0,0,0.05);
}
.hemingway .list-comment2 { padding-left: 12px; }
.hemingway .list-comment3 { padding-left: 22px; }
.hemingway .list-comment4 { padding-left: 32px; }
.hemingway .list-comment5 { padding-left: 42px; }
.hemingway .list-comment6 { padding-left: 52px; }
.hemingway .list-comment7 { padding-left: 62px; }
.hemingway .list-comment8 { padding-left: 72px; }

.hemingway .list-comment1 li,
.hemingway .list-comment2 li,
.hemingway .list-comment3 li,
.hemingway .list-comment4 li,
.hemingway .list-comment5 li,
.hemingway .list-comment6 li,
.hemingway .list-comment7 li,
.hemingway .list-comment8 li {
  background-image: none;
  background-color: white;
  font-style: normal;
  padding: 4px 0 5px 6px;
  margin-left: 0;
  border-left: 10px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.hemingway .list-comment2 li { border-color: rgba(0,0,0,0.07); }
.hemingway .list-comment3 li { border-color: rgba(0,0,0,0.09); }
.hemingway .list-comment4 li { border-color: rgba(0,0,0,0.11); }
.hemingway .list-comment5 li { border-color: rgba(0,0,0,0.13); }
.hemingway .list-comment6 li { border-color: rgba(0,0,0,0.15); }
.hemingway .list-comment7 li { border-color: rgba(0,0,0,0.17); }
.hemingway .list-comment8 li { border-color: rgba(0,0,0,0.19); }

/* Inline Code */
.hemingway span.code {
  display: inline-block;
  padding: 0 !important; /* override `#editor span` */
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  color: #333;
  border-radius: 3px;
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}


/* Other Users */
.hemingway #otheruserstable {
  overflow: visible;
}

.hemingway #otheruserstable figcaption {
  display: block;
}
